<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>WELCOME TO WEATHER REPORT TERMINAL</h1>

    <form id="forms" action="/weather" method="post">
        <label for="">Country</label>
        <input type="text" name="Country" id="">
        <label for="">State</label>
        <input type="text" name="state" id="">
        <label for="">City</label>
        <input type="text" name="city" id="">

        <input type="submit" name="SUBMIT" id="">
    </form>
    <h2>
        <%if(locals.data){  %>
        <%=data %>
        <% }else{ %>
        Enter details to access Weather data
        <% } %>
    </h2>
</body>
</html>